version: "3.9"  # opcional en Compose v2+, se puede omitir

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - ./gestion:/var/www
    networks:
      - laravel_net

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8082:80"
    volumes:
      - ./gestion:/var/www/public
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel_net

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: gestion
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel_net

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - laravel_net

volumes:
  mysql_data:
  jenkins_home:

networks:
  laravel_net:
