/* resources/css/custom.css */

#wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    background-color: #343a40; /* bg-dark */
}

#page-content-wrapper {
    flex: 1;
    overflow-x: hidden;
}

/* Estilos para los items de la barra lateral */
.list-group-item {
    border: none;
    padding: 1.1rem 1.25rem;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #495057 !important;
    color: #fff !important;
}